.Rproj.user
.Rhistory
.RData
.Renviron
*.png
*.jpg
*.tif
*.tar
*.so
outputs
code
*.xlsx
*.docx
*.pdf
Ecopath_dev
Rpath.Rcheck*
src/*.o
src/*.dll
tests/testthat/data/output/*
tests/testthat/data/bkup/*
tests/testthat/data/input/current/REcosystem_Current_*.*
tests/testthat/data/input/current/*.csv
tests/testthat/old/*
tests/testthat/bkup/*
tests/testthat/old dat files/*
docs
doc
Meta
