.Rproj.user
.Rhistory
.RData
.Renviron

# Folders
outputs
code
docs
doc
Meta
Ecopath_dev

## File types
*.xlsx
*.docx
*.pdf
*.jpg
*.tif
*.tar
*.so

# Specific files
Rpath.Rcheck*
vignettes/*.html
src/*.o
src/*.dll
.github/workflows/tests.yaml
tests/testthat/data/output/*
tests/testthat/data/bkup/*
tests/testthat/data/input/REcosystem_Current_*.dat
tests/testthat/data/input/REcosystem_Current_*.rds
tests/testthat/data/input/REcosystem_Current_*.csv
tests/testthat/old/*
tests/testthat/bkup/*
tests/testthat/old dat files/*

docs
doc
Meta
Rpath.Rproj

inst/doc
